---
layout: default
---

<div class="layout">
  <aside class="sidebar">
    <h3>Posts</h3>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
        </li>
      {% endfor %}
    </ul>

    <h3>Categories</h3>
    <ul class="category-list">
      {% assign cats = site.categories | sort %}
      {% for cat in cats %}
        {% assign name = cat[0] %}
        {% assign posts = cat[1] %}
        <li>
          <a href="{{ '/category/' | append: name | append: '/' | relative_url }}">
            {{ name }} ({{ posts | size }})
          </a>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <main class="content">
    {{ content }}
  </main>
</div>
